/* ini file cs */
/* class=main-header */
.main-header{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}
/* for class = "main logo" */
.main-logo{ 
    height: 50px;
    width: 50px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSUoIwwFudXqA2bOuUhrkskIxwyvU--9ZPGw&s);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
/* for all <nav>, karena nav hanya ada 1 sehingga tidak perlu berdasarkan kelas */
nav{
    /* display flex untuk menghilangkat space kosong antara elemen menu */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*for <a> inside <nav> */
nav>a{
        color: black;
        text-decoration: none;
        padding: 8px;
        border: 1px solid;

}
.main-banner{
    border: 1px solid;
    height: 500px;
    align-content: center; /* menengahi atas-bawah */
    text-align: center;    /* menengahi kiri-kanan */
}

.our-profile-content{
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;
}

.achievement-content{
    border: 1px solid;
    height: 500px;
    align-content: center;
    text-align: center;
}

footer{
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
}